<ion-header>
  <ion-navbar dark>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-searchbar
        [(ngModel)]="searchString"
        (ionInput)="getSuggestedPlaces(searchString)"
        placeholder="Sök hållplats eller station">
      </ion-searchbar>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page" padding>
  


<!--<ion-list>
   <ion-item-sliding *ngFor="#item of items" #slidingItem>
     <ion-item *ngIf="item.deleted === false">{{item.name}} </ion-item>
     <ion-item-options>
       <button (click)="showEditModal(item, slidingItem)"><ion-icon name="create"></ion-icon>Bearbeiten</button>
       <button danger (click)="doConfirm(item, slidingItem)"><ion-icon name="trash"></ion-icon>Löschen</button>
     </ion-item-options>
   </ion-item-sliding>
 </ion-list>-->

  <!--<button ion-button full secondary (click)="getSlData()">Authors</button>-->
  <button ion-button full secondary (click)="getAzure()">Azure SL</button>
  
  <!--<button ion-button full secondary (click)="getTest()">SL</button>-->

    <ion-card dark *ngFor="let fare of slService.fares" >
      <ion-item (click)="slService.getPlace(fare.Name)">
        <h2><span>{{fare.Name}}</span></h2>
      </ion-item>
    </ion-card>

</ion-content>
